*{
    color: rgb(216, 166, 31);
    font-family: 'Montserrat', sans-serif;
}

body {
    background-attachment: fixed;
    background-image: url('fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    margin: 10% auto;
}

#fondo {
    background-color: rgb(0, 0, 0, .6);
    padding: 2em;
    width: cover;
    height: cover;
    max-width: 80%;
    max-height: 80%;
    border-radius: 2em;
    position: center;

}

nav {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
ul {
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    padding: 0%;
  }

li {
    border-style: solid;
    border-width: thin;
    border-color: rgb(216, 166, 31);
    border-radius: 1em;
    color: rgb(216, 166, 31);
    font-family: 'Montserrat', sans-serif;
    display: inline;
    margin: 0.5em;
    margin-top: 0;
    padding: 0.5em;

}


a {
    outline: none;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    line-height: 3;
    color: rgb(216, 166, 31);
    padding: 1em;
}

li:last-child a {
    margin-right: 0;
  }

a:hover {
    color: white;
    border-color: white;
}

th, td {
    width: 5%;
    text-align: right;
    vertical-align: top;
    padding: 0.25em;
    border-bottom: 1px solid #999;
 }

 th {
    background: rgb(204, 185, 11, .5);
    text-align: center;
 }

 .titulo{
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Imbue', serif;
    text-align: left;
    color: rgb(216, 166, 31);
    font-size: 36pt;
 }

.mon{
    color: green;
}